NODE_ENV="dev"
DATABASE_URL=""
PORT=3000
ACCESS_TOKEN_SECRET="YOUR_JWT_SECRET"
REFRESH_TOKEN_SECRET="YOUR_JWT_SECRET"
REFRESH_TOKEN_SECRET=e67eb47b7f87332bd3f4030540a6471f5d78aec2cfa44f70882080f8d55b8304
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=f41245b6260db8
MAIL_PASS=ccee5ddcde8853
MAIL_FROM="Task Management System <no-reply@taskmanager.com>"

FRONTEND_URL=http://localhost:3000