@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&family=Poppins:wght@400;500;600;700&family=Inter:wght@400&display=swap");
@import "tailwindcss";

/* Hide browser default password reveal icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}

.Toastify__toast {
  background: transparent !important;
  box-shadow: none !important;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

@theme {
  /* Colors */
  --color-background: #080b12;
  --color-card-left: #0d1117;
  --color-card-right: #0a0e18;
  --color-input-bg: #111827;
  --color-info-bg: ##2a303c;
  --color-accent-blue: #3b82f6;
  --color-accent-green:#16A34A;
  --color-accent-indigo: #6366f1;
  --color-success-green: #22c55e;
  --color-success-dark: #16a34a;
  --color-error-red: #ef4444;
  --color-error-dark: #dc2626;
  --color-loading-dark: #1d4ed8;
  --color-text-primary: #edf1fa;
  --color-white-btn: #ffffff;
  --color-admin-btn: #edf1fa33;
  --color-dashboard: #edf1fa20;
  --color-permissions: #93c5fd;
  --color-text-secondary: rgba(237, 241, 250, 0.65);
  --color-text-placeholder: rgba(237, 241, 250, 0.22);
  --color-text-filled: rgba(237, 241, 250, 0.9);
  --color-text-hint: rgba(237, 241, 250, 0.35);
  --color-link: rgba(96, 165, 250, 0.8);
  --color-divider: #49475a;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

@layer utilities {
  /* TYPOGRAPHY */

  .text-logo {
    font-size: 17px;
    font-weight: 600;
    font-family: var(--font-poppins);
  }

  .text-heading {
    font-size: 32px;
    font-weight: 500;
    font-family: var(--font-poppins);
    line-height: 1.25;
  }

  .text-subtitle {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-poppins);
    line-height: 1.6;
  }

  .text-field-label {
    font-size: 13.5px;
    font-weight: 400;
    font-family: var(--font-poppins);
  }

  .text-field-placeholder::placeholder {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-poppins);
  }

  .text-field-typed {
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-poppins);
  }

  .text-btn-text {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-poppins);
  }

  .text-hint {
    font-size: 12px;
    font-weight: 400;
    font-family: var(--font-inter);
  }

  .text-error-text {
    font-size: 12px;
    font-weight: 400;
    font-family: var(--font-inter);
  }

  .text-success-text {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-inter);
  }

  .text-input {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-inter);
  }

  .text-checkbox {
    font-size: 12px;
    font-weight: 400;
    font-family: var(--font-inter);
  }

  .text-divider-text {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-poppins);
  }

  .text-google-btn {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-poppins);
  }

  .text-dialog-title {
    font-size: 17px;
    font-weight: 600;
    font-family: var(--font-poppins);
  }

  .text-dialog-description {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-inter);
    color: var(--color-text-secondary);
  }

  .text-profile-sections {
    font-size: 22px;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-text-primary);
  }

  .text-profile-info {
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font-poppins);
    color: #ffffff;
  }
  /* PAGE */

  .page-canvas {
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
  }

  /* CARDS */

  .left-card-signup,
  .right-card-signup,
  .left-card-login,
  .right-card-login {
    width: 100%;
    max-width: auto;
    min-height: auto;
    border-radius: 24px;
  }

  /* INNER COLUMN */

  .inner-column {
    width: 100%;
    max-width: 460px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  /* INPUTS */

  .input-field {
    width: 100%;
    max-width: 493px;
    height: 48px;
    border-radius: 12px;
    padding-left: 16px;
  }

  /* BUTTONS  */

  .primary-button {
    width: 100%;
    max-width: 460px;
    height: 56px;
    border-radius: 40px;
    cursor: pointer;
  }

  .google-button {
    width: 100%;
    max-width: 460px;
    height: 56px;
    border-radius: 40px;
    cursor: pointer;
  }

  /* LOGO */

  .logo-icon {
    width: 28px;
    height: 28px;
    border-radius: 8px;
  }

  /* CHECKBOX */

  .checkbox {
    width: 17px;
    height: 17px;
    border-radius: 5px;
  }

  /* PASSWORD ICON */

  .password-eye-icon {
    width: 20px;
    height: 20px;
  }

  /* SUCCESS / ERROR ICONS */

  .error-icon {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }

  .checkmark-icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }

  .password-strength-icon {
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  .skeleton {
    background: linear-gradient(90deg, #1c2333 0%, #252d3d 50%, #1c2333 100%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
